<html>
  <head>
    <!-- Include the Froala library -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.2/js/froala_editor.pkgd.min.js"
    ></script>

    <!-- Include the Codox Wave library -->
    <script
      src="https://app.codox.io/plugins/wave.client.js?apiKey=1311d3c7-ea19-4aac-b5c3-3f8589c9163f&app=froala"
      type="text/javascript"
    ></script>

    <script
      src="https://smd.stage.codox.io/plugins/wave.client.js?apiKey=1311d3c7-ea19-4aac-b5c3-3f8589c9163f&app=froala"
      type="text/javascript"
    ></script>

    <!-- Include jQuery lib. -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    ></script>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.2/css/froala_editor.pkgd.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn1.codox.io/lib/css/wave.client.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div><input type="text" id="name" /></div>

    <div class="editors">
      <div
        class="editor"
        id="editor1"
        [froalaEditor]
        [(froalaModel)]="editorContent"
      ></div>

      <!-- <div
        class="editor"
        id="editor2"
        [froalaEditor]
        [(froalaModel)]="editorContent"
      ></div> -->
    </div>
    <!-- Initialize the editor. -->
    <script type="text/javascript">
      $(function () {
        var codox1 = new Codox();
        window.codox1 = codox1;
        var editor1 = new FroalaEditor("#editor1", {
          //add events configuration

          events: {
            //setting up on initialization event
            initialized: function () {
              //Adding Wave configuration
              var config = {
                docId: "mydoc1",
                username: document.getElementById("name"),
                editor: editor1,
                apiKey: "1311d3c7-ea19-4aac-b5c3-3f8589c9163f",
                app: "froala",
              };
              //start!
              codox1.init(config);
            },
          },
        });
      });
    </script>

    <!-- <script type="text/javascript">
      $(function () {
        var codox2 = new Codox();
        window.codox2 = codox2;
        var editor2 = new FroalaEditor("#editor2", {
          //add events configuration
          events: {
            //setting up on initialization event
            initialized: function () {
              //Adding Wave configuration
              var config = {
                docId: "mydoc2",
                username: "Chris",
                editor: editor2,
                apiKey: "1311d3c7-ea19-4aac-b5c3-3f8589c9163f",
                app: "froala",
              };
              //start!
              codox2.init(config);
            },
          },
        });
      });
    </script> -->
  </body>
</html>
